<html>
<head>
    <title>Employee Management</title>
</head>
<body>

    <h2>Employee Directory</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <!-- <p class="message-{{ category }}"><b>{{ message }}</b></p> -->
         <p style="color: {% if category == 'success' %}green{% else %}red{% endif %};"><b>{{ message }}</b></p>
        {% endfor %}
        
      {% endif %}
    {% endwith %}
    <form action="/" method="GET">
        <input type="text" name="search" placeholder="Search by name or emp_id..." value="{{ request.args.get('search', '') }}">
        <button type="submit">Search</button>
        {% if request.args.get('search') %}
<button type="button" onclick="window.location.href='/';">Clear Search</button>
        {% endif %}
    </form>
<!-- <p>Please search for an employee to see details.</p> -->
    <!-- <a href="/add"><button type="button">Add Employee</button></a> -->
<hr>
    <a href="/add"><button type="button">Add Employee</button></a>
        
        <button type="button" onclick="let id = prompt('Enter Employee ID to Edit:'); if(id) window.location.href='/update/'+id;">
            Edit Employee
        </button>

        <button type="button" style="color: red;" onclick="let id = prompt('Enter Employee ID to Delete:'); if(id && confirm('Are you sure?')) { document.getElementById('del-form').action='/delete/'+id; document.getElementById('del-form').submit(); }">
            Delete Employee
        </button>

        <a href="/download">
        <button type="button">
            Download 
        </button>
    </a>
  
  <form id="del-form" method="POST" style="display: none;"></form>
<br><br>
    {% if employees %}
    <table>
        <thead>
            <tr>
                <th>Emp ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Job Role</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in employees %}
            <tr>
                <td>{{ emp['emp_id'] }}</td>
                <td>{{ emp['name'] }}</td>
                <td>{{ emp['email'] }}</td>
                <td>{{ emp['department'] }}</td>
                <td>{{ emp['job_role'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% elif request.args.get('search') %}
        <p>No results found for your search.</p>
    {% else %}
        
    {% endif %}
  
</body>
</html>